.outerbox{
    background: linear-gradient(to top left,rgb(2, 245, 164),rgb(152, 211, 211));
    margin: 50px auto;
    padding: 100px;
    width: 600PX;
    display: flex;
    align-items: center;
}
.innerbox{
    background: linear-gradient(to top left,aqua,aquamarine);
    margin: 100px 100px;
    padding: 50px;
    font-size: 18px;
    box-shadow: 6px 6px rgb(12, 173, 112);
    backdrop-filter:blur(1px);
}
.innerbox:hover{
    box-shadow:none;
}
input{
    width: 90%;
    margin-top: 10px;
    border: none;
    border-bottom:2px solid ;
    border-radius: 5px;
    height: 25px;
}
.button{
    background-color: rgba(9, 140, 248, 0.9);
    width: 50%;
    margin-left: 70px;
    height: 30px;
    color: aliceblue;
    border:none;
}
input:hover{
    border: 1px solid rgb(0, 255, 64);
}
.button:hover{
    background-color: black;
    color:aliceblue;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: rgb(151, 11, 245);
    font-size: 20px;
    padding: 5px;
}
a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: 1px solid;
    
    border-radius: 10px;
}